@charset"UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

.containerText {
    margin-top: 10%;
    margin-right: 50%;
    font-family: 'Lato';
    border-radius: 3px;
    box-shadow: 5px 5px 3px #4D98D2;
}

#color {
    background-color: #174D75;
}

.image_size {
    width: 320px;
}

#image1 {
    margin-left: 190px;
}

.border_image {
    box-shadow: 3px 3px 3px 2px #aeafb1;
}
