@charset"UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

.alignment {
    width: 100%;
}

/*Não funfa sem !IMPOTANT */
.alignment_text_button {
    text-align: left !important;
}

/* Tentei alterar para classe, mas não funfou */
#marginBetweenButtons {
    margin-bottom: 20px;
}

.hover_button_colapse:hover {
    color: rgb(0, 0, 0);
}

/*NÃO MUDA cor do botão nem a fonte sem o !IMPORTANT*/
.button {
        float: left;
        text-align: center;
        border-radius: 3px;
        box-shadow: 3px 3px 3px 2px #c2dff1;
        font-family: 'Lato', sans-serif;
        background-color: #FFF ;
        padding: 32px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-bottom: 10px;
}

.color_body{
    background-color:#F2F2F2;
}

/*ESSE FUNCIONOU POHA*/
.section_heading{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 60px;
    background-color: #7ABFEB;
    font-family: 'Lato', sans-serif;
    font-size: 75px;
}

/* Procurar tag style dentro de html, entender o que está fazendo...*/
