.body {
	background-image: url("..//images//imagem_index.jpg");
	background-repeat: no-repeat;
}

.slide-center-out 
{
text-decoration:none !important;
display: inline-block !important;
}
.slide-center-out:after 
{
content: '';
display: block;
height: 3px;
width: 0;
background: blue;
transition: width .5s ease, ;
-webkit-transition: width .5s ease, background-color .5s ease;
-moz-transition: width .5s ease, background-color .5s ease;
 
margin:auto; 
}
.slide-center-out:hover:after 
{
width: 100%;
background-color:rgb(0, 204, 255);

}

.navbar-custom-opacity {
	background-color: rgba(60, 60, 60, 0.5);
}

.header-text {
	color: white !important;
	align-items: center;
	font-size: 20px;

}

#screen-opacity {
	width: 99, 8vw;
	height: 1183px;
	background-color: rgba(60, 60, 60, 0.5);
	z-index: 1;
}

#container {
	z-index: 0;

}

ul>li {
	display: inline-block;
}

nav>ul>li>ul {
	width: 700px;
	height: 70px;
	display: none;

}

nav>ul>li:hover>ul {
	display: block;

}

#card-infos {
	position: absolute;
	color: white;
	background: rgb(168, 182, 186);
	border-radius: 1cm;
	margin-left: -10cm;
}


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
.containerText {
    margin-right: 50%;
    font-family: 'Lato';
    border-radius: 3px;
    box-shadow: 5px 5px 3px #4D98D2;
}
#color {
    background-color: #174D75;
}
.image_size {
    width: 320px;
}
#image1 {
    margin-left: 190px;
}
.border_image {
    box-shadow: 3px 3px 3px 2px #aeafb1;
}
.slogan {
    margin-top: 100px;
    font-family: 'Lato';
    margin-left: 60px;
    color: #030303;
}
#font_title {
    font-size: 100px;
	color: rgb(255, 255, 255);
}
#font_subtitle {
    font-size: 70px;
	color: rgb(255, 255, 255);
}
#font_text {
    font-size: 50px;
    color: rgb(255, 255, 255) !important;
}