.body {
	background-image: url("..//images//imagem_index.jpg");
	background-repeat: no-repeat;
}

.slide-center-out 
{
text-decoration:none !important;
display: inline-block !important;
}
.slide-center-out:after 
{
content: '';
display: block;
height: 3px;
width: 0;
background: blue;
transition: width .5s ease, ;
-webkit-transition: width .5s ease, background-color .5s ease;
-moz-transition: width .5s ease, background-color .5s ease;
 
margin:auto; 
}
.slide-center-out:hover:after 
{
width: 100%;
background-color:rgb(0, 204, 255);

}

.navbar-custom-opacity {
	background-color: rgba(60, 60, 60, 0.5);
}

.header-text {
	color: white !important;
	align-items: center;
	font-size: 20px;
	
}

#screen-opacity {
	width: 99,8vw;
	height: 1183px;
	background-color: rgba(60, 60, 60, 0.5);
	z-index: 1;
}

#container {
	z-index: 0;
	
}
